/* This is general website styling */

body {
  padding-top: 4em;
  background-color: rgb(228, 250, 249);
}
.navbar {
  position: absolute;
  width: 100%;
  height: 4em;
  margin-top: -4em;
}
h5 {
  font-weight: 100;
}


 h1,h2,h3,h4,h5 {
  font-family: ZwizzBold;
}

p {
  font-family: ZwizzReg;
}

@font-face {
  font-family: 'ZwizzBold';
src: url(font/Zwizz-Bold.otf);
font-style: normal;
font-weight: 100;
}

@font-face {
  font-family: 'ZwizzReg';
src: url(font/Zwizz-Regular.otf);
font-style: normal;
font-weight: 100;
}



/* end of general website styling */

/* This section is for the products page styling */
.carousel-inner {
  width: 100%;
  max-height: 600px !important;
}


.carousel-caption {
  padding-bottom: 20rem;
}
.creativity {
  padding-bottom: 26rem;
}

.testimonials {
  float: right;
}

#productheader {
  padding-top: 0.5rem;
}

.card-deck {
  padding: 2rem;
}
.card {
  transition: 0.5s;
  cursor: pointer;
}

.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  padding: 1rem;
}
/* This is the end of the products page styling */
